body {
    font-weight: 200;
    font-size: 18px;
}
body, a {
    color: #808080;
}
.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
}
.book {
    border-radius: 3px;
    padding: 0.5em;
    background-color: #808080;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.size1 {
    grid-column-end: span 2;
    grid-row-end: span 1;
}
.size2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}
.size3 {
    grid-column-end: span 3;
    grid-row-end: span 2;
}
.size4 {
    grid-column-end: span 3;
    grid-row-end: span 3;
}
.size5 {
    grid-column-end: span 4;
    grid-row-end: span 4;
}
.open {
    grid-column-end: span 5;
    grid-row-end: span 4;
}
.tab-content>.active {
    display: grid;
}

.inner {
    position: absolute;
}

/*
 * For scatterplot
 */
.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.book-circle {
    fill: #000000;
    opacity: 0.4;
}

#scatterplot-control-container {
    width: 200px;
    height: 400px;
}

#scatterplot-mouse-over-container {
    display: inline-block;
    width: 750px;
    height: 100px;
    margin: auto;
    position: relative;
    padding-bottom: 30px;
}

#scatterplot-mouse-over {
    position: absolute;
}

.scatterplot-mouse-over {
    display: inline-block;
}

.scatterplot-control-label {
    /*width: 1%7;*/
    float: left;
    padding-right: 5px;
}

.scatterplot-mouse-over-label {
    /*width: 1%7;*/
    display: inline-block;
    float: left;
    padding-right: 5px;
}

.scatterplot-dropdown, .scatterplot-mouse-over-info {
    float: right;
}

#scatterplot-control {
    position: absolute;
    bottom: 50px;
}

/*
 * For the detail view
 */

.detail-view-book-img {
    width: 100%;
    height: 100%;
}